/* App.css */
.App {
  text-align: center;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -3%);
  height: 99%;
  width: 98%;
  padding: 10px;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-parts {
  display: flex;
  justify-content: flex-start;
  position: relative;
  
}
@media (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;
}

.App-link {
  color: #61dafb;
}
.poetry-calendar{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 25%;
}
.fab-and-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

.poetry-calendar-top{
  display: flex;
  flex-direction: column;
  padding-bottom: 2dvh;
}
.poetry-calendar-bottom{
  display: flex;
  flex-direction: column;
}

.poems-of{
  display: flex;
  flex-direction: column;
  position: relative;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
